# Valerian's coding style
# By Valerian

## Class/Type Name BigCamel

BasedOnStyle: Google
ColumnLimit: 76
AlwaysBreakBeforeMultilineStrings: false
PointerAlignment: Right
Standard: c++17
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true